/* body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #2196F3;
} */

.mt-60{
  margin-top: 60px;
}

.mt-5{
  margin-top: 5px;
}

.mb-50{

  margin-bottom: 50px;
}

.product-image {
  width: 150px;
  height: 180px;
  object-fit: cover; /* Ensures image fills the box without distortion */
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1875rem;
}

.card-img-actions {
  position: relative;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

.card-img{

  width: 350px;
}

.star{
      color: red;
}

.bg-cart {
  background-color:orange;
  color:#fff;
}

.bg-cart:hover {
  
  color:#fff;
}

.bg-buy {
  background-color:green;
  color:#fff;
  padding-right: 29px;
}
.bg-buy:hover {
  
  color:#fff;
}

a{

  text-decoration: none !important;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}
.discount-price {
  font-size: 1.5em;
  color: green;
}